.commentList {
    margin: 1em 0.25em;
}

.comment {
    display: flex;
    flex-direction: row;

    margin-bottom: 3em;
}

.commentContent {
    border-bottom: 1px solid #9ba2ff;
}

.comments {
    padding: 0 1rem ;
}

.profileAvatar {
    border-radius: 50%;
    border: 1px solid #9ba2ff;
    box-shadow: 1px 1px 0px #9ba2ff;
    margin: 1.25rem 1rem 1rem 0;
}


  